@import "base/min";
.home-main-container{
    display: $display;
    flex-direction: row-reverse;
.home-view-container{
    .nav{
        padding: $padding-30;
        display: $display;
        justify-content: space-between;
        font-size: 0.8rem;
        a{
           @include nav-box($grey);

            &.router-link-exact-active{
                background-color: $sea-green;
                color: #fff;
            }
            &:hover{
                background-color: $sea-green;
                @include nav-box($white);
            }
            .text-inline{
                white-space: nowrap;
                overflow: hidden;
            }
        }
    }
    .heading-1{
        padding: $padding-30;
        font-size: 1.688rem;
    }
  .heading-2{
        padding: $padding-30;
        font-size: 0.938rem;
  }
  .size-description-style{
        padding: 15px 0 0 30px;
        font-size: 0.938rem;
        font-family: cera_proregular,Helvetica,Roboto,Arial,sans-serif;
  }
}
  img{
    max-width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 1085px) {
    .home-main-container {
      flex-direction: column-reverse;
    }
}
